@import './common/base.css';
@import './common/grid.css';
@import './common/module.css';
@import './common/unit.css';
@import './common/animation.css';

.m-login {
  .cells {
    position: relative;
    margin: 10px auto;
    .cell {
      position: relative;
      width: 100%;
      border-bottom: 1px solid #ddf;
      line-height: 2rem;
    }
    .logo {
      display: block;
      margin: 1rem auto;
      width: 50%;
      height: auto;
    }
    .ipt {
      box-sizing: border-box;
      padding: 0.6rem 0 0.6rem 2.4rem;
      font-size: 0.9rem;
      color: #fff;
      width: 100%;
      border: none;
      background-color: transparent;
      &::placeholder {
        color: #d9d9d9;
      }
    }
    .icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(/res/im/icons.png);
      background-repeat: no-repeat;
      vertical-align: middle;
    }
    .icon-account {
      background-position: 0 -112px;
      position: absolute;
      left: 0.4rem;
      top: 0.6rem;
    }
    .icon-pwd {
      background-position: 0 -133px;
      position: absolute;
      left: 0.4rem;
      top: 0.6rem;
    }
    .btn {
      margin: 0.6rem 0;
      box-sizing: border-box;
      width: 100%;
      line-height: 2.4rem;
      height: 2.4rem;
      border-radius: 0.4rem;
      background: #fff;
      color: #0091e4;
      font-size: 1rem;
      border: none;
      cursor: pointer;
    }
    .btn-regist {
      background: transparent;
      color: #fff;
      border: 1px solid #d9d9d9;
    }
    .error {
      float: right;
      clear: both;
      color: #f66;
    }
  }
}