/* 设置变量 */
$color_red: #f04d64;
$color_blue: #0091E4;
$color_light_blue: #e5f4ff;
$color_white: #fff;
$color_dark_white: #f9fcff;
$color_light_gray: #e0e0e0;
$color_gray: #ccc;
$color_dark_gray: #999;
$color_light_black: #666;
$color_black: #333;

/* 顶部导航高度 */
$height_nav: 3.6rem;
$height_tab: 3.6rem;

/* 消息变量 */
$msg_bg_you: #5cacde;
$msg_tx_you: #fff;
$msg_bg_me: #e5f4ff;
$msg_tx_me: #666;

@import './common/base.css';
@import './common/grid.css';
@import './common/weui.css';
@import './common/module.css';
@import './common/unit.css';
@import './common/animation.css';

body {
  font-size: 1rem;
  color: $color_light_black;
}

/* 外面嵌套g-window 为了覆盖weui默认样式 */
.g-window {
  .g-header {
    /* 主页面顶部导航 */
    .router-link {
      background-color: $color_white;
    }
    .router-link-active {
      color: $color_blue;
      background-color: $color_light_blue;
    }
  }
  /* 封面皮肤 */
  .m-album {
    background-color: $color_blue;
  }
  /* 主背景皮肤 */
  .m-main {
    background-color: $color_dark_white;
  }
  .m-article {
    background-color: $color_dark_white;
  }
  /* 按钮tab切换 */
  .m-tab {
    color: $color_blue;
    background-color: $color_light_blue;
    .vux-header-left {
      .left-arrow {
        &::before {
          border-color: $color_blue;
        }
      }
    }
  }
  .m-tab-top  {
    .u-tab-top {
      color: $color_light_black;
      border: 1px solid $color_blue;
      /* 选中状态 */
      &.vux-button-group-current {
        color: $color_white;
        background-color: $color_blue;
      }
    }
  }
  /* 底部输入框 */
  .m-chat-editor {
    background-color: $color_light_blue;
  }
}

